#background-evite {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

#evite-logo {
    width: 20%;
    margin-top: 15%;
}

.evite-pillar-left {
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 0px;
    height: 100%;
    min-width: 50%;
    max-width: 50%;
}

.evite-pillar-right {
    position: absolute;
    bottom: 0px;
    top: 0px;
    height: 100%;
    right: 0px;
    min-width: 50%;
    max-width: 50%;
}

#invite-welcome {
    margin: 20px 0 0 0;
    width: 100%;
}

.invite-text {
    font-family: cinzel-Regular;
    color: #844444;
    font-size: 12px;
}

.etext {
    font-size: 10px;
}

#invite-welcome span {
    font-family: cinzel-Regular;
}

.bridal-couple {
    font-family: aulyars-italic;
    color: #844444;
    font-size: 37px;
}

#bridal-couple-top {
    margin-top: 0px;
    margin-bottom: 0px;
}

#invite-and {
    color: #844444;
    margin-bottom: 0px;
    margin-top: -5px;
}

.backlights {
    transition: opacity 0.5s;
}

#bridal-couple-bottom {
    margin-top: 10px;
    margin-bottom: 20px;
}

.bcoupleb {
    margin-bottom: 0 !important;
}

#view-events {
    background-image: url("/pngs/Evite_Button.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 32px;
    color: #844444;
    font-family: cinzel-Regular;
    font-size: 9px;
    /* margin: 10px; */
    margin-top: -14px;
    cursor: pointer;
    text-align: center;



    /* bottom: 7rem; */
}

#get-directionwi {
    background-image: url("/pngs/Evite_Button.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 32px;
    color: #844444;
    font-family: cinzel-Regular;
    font-size: 9px;
    /* margin: 10px; */
    margin-top: -14px;
    cursor: pointer;
    text-align: center;
}

#get-direction {
    background-image: url("/pngs/Evite_Button.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 32px;
    color: #844444;
    font-family: cinzel-Regular;
    font-size: 9px;
    /* margin: 10px; */
    margin-top: -14px;
    cursor: pointer;
    text-align: center;


    /* bottom: 7rem; */
}


.scroll-up-evite {
    transition: opacity 0.5s;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    font-family: blacksword;
    color: #844444;
    font-size: 16px;
}

#note-about-gifts {
    transition: opacity 0.5s;
    position: absolute;
    bottom: 0px;
    margin: 0;
    width: 100%;
    padding: 5px;
    font-size: 10px;
    color: #b5505f;
}

@media only screen and (max-width: 320px) {
    .bridal-couple {
        font-size: 32px;
    }
    #bridal-couple-top {
        margin-top: 10px;
    }
    #bridal-couple-bottom {
        margin-bottom: 10px;
    }
    .invite-text {
        font-size: 10px;
    }
    .etext {
        font-size: 8.8px;
    }
    .scroll-up-evite {
        bottom: 12px;
    }
}

@media only screen and (min-width: 500px) {
    #evite-logo {
        margin-top: 35%;
    }
}

.invite-text {
    font-family: cinzel-Regular;
    color: #844444;
}

.bridal-couple {
    font-family: blacksword;
}

.events {
    position: absolute;
    left: 6rem;
}

.familyname {
    transition: opacity 0.5s;
    position: absolute;
    bottom: 9px;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    font-family: cinzel-Bold;
    color: #844444;
    font-size: 10px;
}



@media (min-width: 1800px) {
    .events {
        left: 11rem;
    }
    .direction {
        left: 25rem;
    }
    .topimg {
        width: 18vw;
        margin-top: 12rem;
    }
}

@media (max-width: 1440px) and (max-height: 900px) {
    .topimg {
        width: 18vw;
        margin-top: 12rem;
    }
}


@media (max-width: 1366px) and (max-height: 1024px) {
    .topimg {
        width: 18vw;
        margin-top: 12rem;
    }
} 

/* 
.topimg {
    width: 45vw;
    margin-top: 4rem;
} */

@media (max-width: 768px) and (max-height: 1024px) {
.topimg {
    width: 39vw;
    margin-top: 14rem;
}
}


.b2 {
    margin: -12px !important;
    margin-left: 1px !important;
}

.direction {
    position: absolute;
    /* left: 18rem; */
    font-size: 8px !important;
}



@media (max-width: 414px) {
    .events {
        left: 8rem;
    }
    .direction {
        left: 19rem;
    }
    .topimg {
        width: 45vw;
        margin-top: 4rem;
    }
    .sbcouple {
        font-size: 27px;
    }
    
    .sit {
        font-size: 10px;
    }

}

@media (max-width: 375px) {
    .events {
        left: 6rem;
    }
    .direction {
        left: 18rem;
    }
    .topimg {
        width: 45vw;
        margin-top: 2rem;
    }
}

@media (max-width: 320px) {
    .events {
        left: 4rem;
    }
    .direction {
        left: 14rem;
    }
    .familyname {
        font-size: 10px;
    }    
}