<img id= "evite-logo" src="./imgs/prologue/Logo_Animation_3-01.png">
<div id="itinerary-24th-english" class="itinerary">
    <p id="itinerary-date">24th February</p>
    <!-- <img src="./imgs/itinerary/division.png" id="division"> -->
    <br>
    
    <table class="itinerary-data" id="itinerary-data-day-one">
        <tr class="itinerary-data-row itinerary-data-row-head">
            <th>Event</th>
            <th></th>
            <th>Timing</th>
            <th></th>
            <!-- <th>Dresscode</th> -->
        </tr>
        <tr class="itinerary-data-row">
                <td class="event">Breakfast</td>
                <td class="timing-start">7:00</td>
                <td>-</td>
                <td class="timing-end">11:00</td>
            <!-- <td class="event">Breakfast</td>
            <td class="timing-start">7.00</td>
            <td class="timing-end">&nbsp;- &nbsp;11.00</td>
            <td class="eventdresscode">-</td> -->
        </tr>
        <tr class="itinerary-data-row">
            <!-- <td class="event">Cricket Match</td>
            <td class="timing-start">12.30</td>
            <td class="timing-end">&nbsp;- &nbsp;15.00</td>
            <td class="eventdresscode">Sportswear</td> -->
            <td class="event">Cricket Match <br>
            <span class="srow"> Team Bride Vs Team Groom</span></td>
            <td class="timing-start">11:00</td>
            <td>-</td>
            <td class="timing-end">12:30</td>
        </tr>
        <tr class="itinerary-data-row">
            <!-- <td class="event">Lunch</td>
            <td class="timing-start">16:30</td>
            <td class="timing-end">&nbsp;- &nbsp;17:30</td>
            <td class="eventdresscode">-</td> -->
            <td class="event">Lunch</td>
            <td class="timing-start">12:30</td>
            <td>-</td>
            <td class="timing-end">15:00</td>
        </tr>
        <tr class="itinerary-data-row">
            <!-- <td class="event">High-Tea</td>
            <td class="timing-start">18.30</td>
            <td class="timing-end">&nbsp;- &nbsp;19.30</td>
            <td class="eventdresscode">-</td> -->
            <td class="event">High-Tea</td>
            <td class="timing-start">16:30</td>
            <td>-</td>
            <td class="timing-end">17:30</td>
        </tr>
        <tr class="itinerary-data-row">
            <!-- <td class="event">Entertainment Night</td>
            <td class="timing-start">19.30</td>
            <td class="timing-end">&nbsp;Onwards</td>
            <td class="eventdresscode">Traditional</td> -->
            <td class="event">Musical Night<br>
                <span class="srow">Dance &amp; Dinner</span></td>
                <td class="timing-start">20:00</td>
                <td>-</td>
                <td class="timing-end">Onwards</td>
        </tr>
        
    </table>
</div>




<!-- 24th English wuth dresscode column -->

<!-- <img id= "evite-logo" src="./imgs/prologue/Logo_Animation_3-01.png">
<div id="itinerary-24th-english" class="itinerary">
    <p id="itinerary-date">24th  February</p>
    <br><br><br>
    <table class="itinerary-data" id="itinerary-data-day-one">
        <tr class="itinerary-data-row itinerary-data-row-head">
            <th>Event</th>
            <th></th>
            <th class="timehead">Timing</th>
            <th>Dresscode</th>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Breakfast</td>
            <td class="timing-start">7.00</td>
            <td class="timing-end">&nbsp;- &nbsp;11.00</td>
            <td class="eventdresscode">-</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Cricket Match</td>
            <td class="timing-start">12.30</td>
            <td class="timing-end">&nbsp;- &nbsp;15.00</td>
            <td class="eventdresscode">Sportswear</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Lunch</td>
            <td class="timing-start">16.30</td>
            <td class="timing-end">&nbsp;- &nbsp;17.30</td>
            <td class="eventdresscode">-</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">High-Tea</td>
            <td class="timing-start">18.30</td>
            <td class="timing-end">&nbsp;- &nbsp;19.30</td>
            <td class="eventdresscode">-</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Entertainment</td>
            <td class="timing-start">19.30</td>
            <td class="timing-end">&nbsp;Onwards</td>
            <td class="eventdresscode">Traditional</td>
        </tr>
        
    </table>
</div> -->