<div id="itinerary-25th-hindi" class="itinerary">
    <p id="itinerary-date">25 दिसंबर</p>
    <img src="./imgs/itinerary/division.svg" id="division">
    <table class="itinerary-data" id="itinerary-data-day-two-hindi">
        <tr class="itinerary-data-row">
            <td class="event-hindi">नाश्ता</td>
            <td class="timing-start-hindi">7.00</td>
            <td>-</td>
            <td class="timing-end-hindi">11.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event-hindi">बान</td>
            <td class="timing-start-hindi">11.00</td>
            <td>-</td>
            <td class="timing-end-hindi">12.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event-hindi">दोपहर का भोजन<br>
                व लाइव प्रदशर्न  </td>
            <td class="timing-start-hindi">13.00</td>
            <td>-</td>
            <td class="timing-end-hindi">15.00</td>
        </tr>
        <!-- <tr class="itinerary-data-row">
            <td class="event-hindi">लाइव प्रदशर्न</td>
            <td class="timing-start-hindi">13.30</td>
            <td>-</td>
            <td class="timing-end-hindi">14.30</td>
        </tr> -->
        <tr class="itinerary-data-row">
            <td class="event-hindi">कोरथ व चाय - नाश्ता
            </td>
            <td class="timing-start-hindi">17.30</td>
            <td>-</td>
            <td class="timing-end-hindi">18.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event-hindi">निकासी  व चाय - नाश्ता</td>
            <td class="timing-start-hindi">18.00</td>
            <td>-</td>
            <td class="timing-end-hindi">18.45</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event-hindi">बारात</td>
            <td class="timing-start-hindi">18.45</td>
            <td>-</td>
            <td class="timing-end-hindi">19.30</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event-hindi">बारात स्वागत व वरमाला</td>
            <td class="timing-start-hindi">19.30</td>
            <td>-</td>
            <td class="timing-end-hindi">20.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event-hindi">रिसेप्शन व प्रीतिभोज  
            </td>
            <td class="timing-start-hindi">20.00</td>
            <td>-</td>
            <td class="timing-end-hindi">22.30</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event-hindi">विवाह समारोह
            </td>
            <td class="timing-start-hindi">22.30</td>
            <td>-</td>
            <td class="timing-end-hindi">00.30</td>
        </tr>
        <!-- <tr class="itinerary-data-row">
            <td class="event-hindi">शुभविवाह</td>
            <td class="timing-start-hindi">23.00</td>
            <td>-</td>
            <td class="timing-end-hindi">00.30</td>
        </tr> -->
        <tr class="itinerary-data-row">
            <td class="event-hindi">विदाई</td>
            <td class="timing-start-hindi">00.30</td>
            <td>-</td>
            <td class="timing-end-hindi">01.00</td>
        </tr>
        <!-- <tr class="itinerary-data-row">
            <td class="event-hindi">विवाहपद कायर्क्रम</td>
            <td class="timing-start-hindi">01.00</td>
            <td>-</td>
            <td class="timing-end-hindi">02.00</td>
        </tr> -->
    </table>
</div>





 <!-- 25th English -->



<!-- <img id= "evite-logo" src="./imgs/prologue/Logo_Animation_3-01.png">
<div id="itinerary-25th-english" class="itinerary">
    <p id="itinerary-date">25th December</p>
    <img src="./imgs/itinerary/division.png" id="division">
    <table class="itinerary-data" id="itinerary-data-day-two">
        <tr class="itinerary-data-row">
            <td class="event">Breakfast</td>
            <td class="timing-start">7.00</td>
            <td>-</td>
            <td class="timing-end">11.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Baan</td>
            <td class="timing-start">11.00</td>
            <td>-</td>
            <td class="timing-end">12.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Lunch with live performance</td>
            <td class="timing-start">13.00</td>
            <td>-</td>
            <td class="timing-end">15.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Korath with High Tea</td>
            <td class="timing-start">17.30</td>
            <td>-</td>
            <td class="timing-end">18.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Nikasi with High Tea</td>
            <td class="timing-start">18.00</td>
            <td>-</td>
            <td class="timing-end">18.45</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Baraat</td>
            <td class="timing-start">18.45</td>
            <td>-</td>
            <td class="timing-end">19.30</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Baraat Welcome <br>and Varmala</td>
            <td class="timing-start">19.30</td>
            <td>-</td>
            <td class="timing-end">20.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Reception &amp; Dinner</td>
            <td class="timing-start">20.00</td>
            <td>-</td>
            <td class="timing-end">22.30</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Wedding Ceremony</td>
            <td class="timing-start">22.30</td>
            <td>-</td>
            <td class="timing-end">00.30</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Vidaai</td>
            <td class="timing-start">00.30</td>
            <td>-</td>
            <td class="timing-end">01.00</td>
        </tr>
    </table>
</div> -->