<img id="evite-logo" src="./imgs/prologue/Logo_Animation_3-01.png">
<div id="itinerary-25th-english" class="itinerary">
    <p id="itinerary-date">25th February</p>
    <!-- <img src="./imgs/itinerary/division.png" id="division"> -->
    <br>
    <table class="itinerary-data" id="itinerary-data-day-two">
        <tr class="itinerary-data-row itinerary-data-row-head">
            <th>Event</th>
            <th></th>
            <th>Timing</th>
            <th></th>
            <!-- <th>Dresscode</th> -->
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Breakfast with Pool Fiesta</td>
            <td class="timing-start">8:00</td>
            <td>-</td>
            <td class="timing-end">11:30</td>
        </tr>
        <!-- <tr class="itinerary-data-row">
            <td class="event">Pool Party 
                <br>(Hawaiian)
            </td>
            <td class="timing-start">11:30</td>
            <td>-</td>
            <td class="timing-end">12:30</td>
        </tr> -->
        <tr class="itinerary-data-row">
            <td class="event">Lunch</td>
            <td class="timing-start">12:30</td>
            <td>-</td>
            <td class="timing-end">15:00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">High Tea</td>
            <td class="timing-start">16:30</td>
            <td>-</td>
            <td class="timing-end">17:30</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Wedding Celebration 
                <br><span class="srow">Reception &amp; Dinner</span> 
            </td>
            <td class="timing-start">20:00</td>
            <td>-</td>
            <td class="timing-end">Onwards</td>
        </tr>
        <!-- <tr class="itinerary-data-row">
            <td class="event">Baraat</td>
            <td class="timing-start">18.45</td>
            <td>-</td>
            <td class="timing-end">19.30</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Baraat Welcome
                <br>and Varmala</td>
            <td class="timing-start">19.30</td>
            <td>-</td>
            <td class="timing-end">20.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Reception &amp; Dinner</td>
            <td class="timing-start">20.00</td>
            <td>-</td>
            <td class="timing-end">22.30</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Wedding Ceremony</td>
            <td class="timing-start">22.30</td>
            <td>-</td>
            <td class="timing-end">00.30</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Vidaai</td>
            <td class="timing-start">00.30</td>
            <td>-</td>
            <td class="timing-end">01.00</td>
        </tr> -->
        <!-- <tr class="itinerary-data-row">
            <td class="event">Post Marriage Events</td>
            <td class="timing-start">01.00</td>
            <td>-</td>
            <td class="timing-end">02.00</td>
        </tr> -->
    </table>
</div>