<!-- <img id="rsvp-monogram" src="pngs/RSVP_Monogram.svg" alt=""> -->
<p id="top-text">कृपया अपनी यात्रा का वृतांत दें </p>
<div id="name-div">
    हम,
    <input type="text" class="input-normal" id="input-fullname" placeholder="Enter your full name"> ,
</div>
<div id="text-below-name-div subh">
    हर्षतापूर्वक इस मंगल कार्यक्रम में उपस्तिथ रहेंगे।
    <br> मेरा आगमन
</div>
<div id="text-below-name-div" class="subDate">
    <div id="date-time-travel">

        <select class="browser-default" id="adate">
            <option value="24th">24th</option>
            <option value="25th">25th</option>
        </select>

        <div>को</div>

        <select class="browser-default">
            <option value="Flight">Flight</option>
            <option value="Train">Train</option>
            <option value="Road">Road</option>
        </select>

        <div>से</div>
        <input type="text" class="timepicker" value="00:00AM" id="atime">
    </div>
</div>
<div id="text-below-name-div subh">
    व मेरा प्रस्थान
</div>
<div id="text-below-name-div" class="subDate">
    <div id="date-time-travel" id="ddate">

        <select class="browser-default" id="ddate">
            <option value="25th">25th</option>
            <option value="26th">26th</option>
        </select>

        <div>को</div>

        <select class="browser-default">
            <option value="Flight">Flight</option>
            <option value="Train">Train</option>
            <option value="Road">Road</option>
        </select>

        <div>से</div>
        <input type="text" class="timepicker" value="00:00AM" id="dtime">
    </div>
</div>
<div id="count-me-in">मिलते हैं !</div>
<div id="contact-info">या आप अपने यात्रा का विवरण या टिकट
    <br>
    <b>+91 93746 35101</b> या
    <b>rsvp@sskishaadi.com</b>भेज सकते हैं।
</div>





<!-- rsvp english bkup -->

<!-- <img id="rsvp-monogram" src="pngs/RSVP_Monogram.svg" alt=""> -->


<div id="letter">
        <p id="top-text">Let us know when we will be seeing you!</p>
        <!-- <div class="container">
            <div class="row"> -->
        <div id="name-div">
            <input type="text" class="input-normal" id="input-fullname" placeholder="Name"> ,
        </div>
        <!-- </div>
        </div> -->
        <!-- <div class="container">
            <div class="row"> -->
        <div id="text-below-name-div">
            will be arriving on
            <!-- would gladly be attending the celebration!
            <br> My arrival will be on -->
        </div>
        <!-- </div>
        </div> -->
        <!-- <div class="container">
            <div class="row"> -->
        <div id="text-below-name-div" class="subDate">
            <div id="date-time-travel">
    
                <select class="browser-default" id="adate">
                    <option value="24th">24th</option>
                    <option value="25th">25th</option>
    
                </select>
                <div>by</div>
                <select class="browser-default" id="means-of-transport">
                    <option value="Flight">Flight</option>
                    <option value="Train">Train</option>
                    <option value="Road">Road</option>
                </select>
                <div>at</div>
                <input type="time" class="timepicker" value="00:00" id="atime">
            </div>
        </div>
        <!-- </div>
        </div> -->
        <!-- <div class="container">
            <div class="row"> -->
        <div id="text-below-name-div">
            &amp; will be returning on
        </div>
        <!-- </div>
        </div> -->
        <!-- <div class="container">
            <div class="row"> -->
        <div id="text-below-name-div" class="subDate">
            <div id="date-time-travel">
    
    
                <select class="browser-default" id="ddate">
                    <option value="25th">25th</option>
                    <option value="26th">26th</option>
                </select>
    
                <div>by</div>
                <select class="browser-default" id="means-of-transportd">
                    <option value="Flight">Flight</option>
                    <option value="Train">Train</option>
                    <option value="Road">Road</option>
                </select>
                <div>at</div>
                <input type="time" class="timepicker" value="00:00" id="dtime">
    
            </div>
        </div>
        <!-- </div>
        </div> -->
        <div id="count-me-in">Submit</div>
        <!-- <div class="container">
            <div class="row"> -->
    
        <!-- </div>
        </div> -->
    
    </div>
    <div id="contact-info">Or you can send your travel details / ticket to
            <br>
            <b>+91 99999 99999</b> or
            <b>rsvp@rushforcelebration.com</b>
    
        </div>
    
    <img id="rsvp-envelope-back" src="./imgs/rsvp/rsvp-envelope-back.svg" alt="">
    <img id="rsvp-envelope-front" src="./imgs/rsvp/rsvp-envelope-front.svg" alt="">
    
    <!-- The Modal -->
    <div id="myModal" class="modal">
    
        <!-- Modal content -->
        <div class="modal-content">
            <p id="p1">We want to thank you for accepting our invitation.</p>
            <br>
            <p id="p2">Your presence will definitely
                <br>
                <span id="p3">make the event more memorable.</span>
            </p>
            <br>
            <p id="p4">Looking forward to see you.</p>
            <div class="navigator">
                <img src="./imgs/itinerary/cancel1.svg" id="cancel" class="itinerary-nav closeimg">
            </div>
            <p></p>
        </div>
    
    
    </div>