<!-- <img id= "evite-logo" src="./imgs/prologue/Logo_Animation_3-01.png"> -->
<!-- <img class="topimg" src="./imgs/pagebreak.png"> -->
<img class="topimg" src="./imgs/topgreet.png">

<br>
<br>
<p class="invite-text etext">
        With Divine Blessings and your affection,<br>
        we are honoured with the joyous occasion of <br>
        the wedding of <strong>Rushit</strong> &amp; <strong>Foram.</strong><br>
</p>
<p class="invite-text etext">
        The ceremony will be conducted at <br>
        a temple as per rituals of <br>
        Gandharvah Vivah.
</p>

<p class="invite-text etext" id="invite-welcome">
    <span><strong>Dhulia Family </strong></span>requests the honour of your
    <br> company for the wedding celebration of</p>
<p class="bridal-couple sbcouple" id="bridal-couple-top">Rushit</p>
<p class="invite-text etext">(s/o Smt. Sonal &amp; Shri Dhiresh Dhulia)</p>
<p id="invite-and">&amp;</p>
<p class="bridal-couple sbcouple bcoupleb" id="bridal-couple-bottom">Foram</p>
<p class="invite-text etext">(d/o Smt. Jayshri &amp; Shri Himanshu Chinoy)</p>
<!-- <p class="invite-text" id="invite-welcome-hindi-2">के विवोत्सव में आपकी सादर
    <br>उपस्तिथी का अनुरोध करते है। </p> -->

<!-- <p class="invite-text" id="baarat">Baarat &amp; Wedding - 25th December, 2017</p> -->
<!-- <p class="invite-text">
    begin their new journey. <br>
    Please grace the occasion with <br>
    your esteemed presence.
</p> -->

<p class="invite-text etext etext2" id="baarat">On Sunday, 25th February 2018 <br>
    8:00 Pm onwards <br>
</p>

<p class="invite-text etext" id="venue">At Whitefield <br> At The Emerald Club, 
    <br> off Kalawad Road,
    <br> Rajkot
</p>
<!-- <div id="view-events" class="events event2 b2 e2wi">View Events</div>
<div id="view-events" class="direction b2 direction2 d2wi">Get Directions</div> -->

<div id="get-directionwi" class="directionwi1">Get Directions</div>