<img src="./imgs/evite/evite-pillar-leftn.png" class="evite-pillar-left">
<img src="./imgs/evite/evite-pillar-rightn.png" class="evite-pillar-right">
<!-- 
<img src="./imgs/evite/evite-pillar-left-dandelions.svg" class="evite-pillar-left dandelions">
<img src="./imgs/evite/evite-pillar-right-dandelions.svg" class="evite-pillar-right dandelions">

<img src="./imgs/evite/evite-pillar-left-backlights.svg" class="evite-pillar-left backlights">
<img src="./imgs/evite/evite-pillar-right-backlights.svg" class="evite-pillar-right backlights">

<img src="./imgs/evite/evite-pillar-left-pillarlights.svg" class="evite-pillar-left">
<img src="./imgs/evite/evite-pillar-right-pillarlights.svg" class="evite-pillar-right"> -->