<p class="invite-text hindi" id="invite-welcome">
    <span>जयदेव आर्य</span> व पिरवार
    <br>अपने सुपुत्र</p>
<p class="bridal-couple-hindi" id="bridal-couple-top">साकेत</p>
<p id="invite-and" class="hindi">एवं</p>
<p class="bridal-couple-hindi" id="bridal-couple-bottom">संजना</p>
<p class="invite-text hindi" id="invite-welcome-hindi-2">के विवोत्सव में आपकी सादर
        <br>उपस्तिथी का अनुरोध करते है। </p>

<p class="invite-text hindi" id="baarat">बारात व शुभविवाह  - 25 दिसंबर 2017</p>
<div id="view-events">कार्यक्रम की सूची</div>
<p class="invite-text hindi" id="venue">आई टी सी  मराठा, मुंबई</p>
<p class="invite-text" id="note-about-gifts-hindi">कृपया कोई उपहार न दें । आपकी उपस्तिथी ही हमारी भेट है।</p>

<p class="scroll-up-evite hindi">स्क्रॉल करें</p>