
<img id= "evite-logo" src="./imgs/prologue/Logo_Animation_3-01.png">
<p class="invite-text sit" id="invite-welcome">
    <span>The <strong>Chinoy Family</strong> is delighted to invite </span>
    <br>you for a fun filled evening of 
    <br>Music, Dance &amp; Dinner as</p>
<p class="bridal-couple sbcouple" id="bridal-couple-top">Foram</p>
<p id="invite-and">&amp;</p>
<p class="bridal-couple sbcouple" id="bridal-couple-bottom">Rushit</p>
<!-- <p class="invite-text" id="invite-welcome-hindi-2">के विवोत्सव में आपकी सादर
    <br>उपस्तिथी का अनुरोध करते है। </p> -->

<!-- <p class="invite-text" id="baarat">Baarat &amp; Wedding - 25th December, 2017</p> -->
<p class="invite-text sit">
    begin their new journey. <br>
    Please grace the occasion with <br>
    your esteemed presence.
</p>

<p class="invite-text sit" id="baarat">On Sunday, 24th February 2018 <br>
    8:00 Pm onwards <br>
</p>

<p class="invite-text sit" id="venue">At The Emerald Club, 
    <br> off Kalawad Road,
    <br> Rajkot
</p>
<div id="view-events" class="events ewi">View Events</div>
<div id="get-direction" class="direction dwi">Get Directions</div>

<div id="get-directionwi" class="directionwi1">Get Directions</div>

<!-- <p id="familynameevite" class="invite-text">Ansuyaben Kantilal Chinoy family</p> -->
