<div id="itinerary-24th-english" class="itinerary">
    <p id="itinerary-date">24th December</p>
    <img src="./imgs/itinerary/division.png" id="division">
    <table class="itinerary-data" id="itinerary-data-day-one">
        <tr class="itinerary-data-row">
            <td class="event">Breakfast</td>
            <td class="timing-start">7.00</td>
            <td>-</td>
            <td class="timing-end">11.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Lunch</td>
            <td class="timing-start">12.30</td>
            <td>-</td>
            <td class="timing-end">15.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Baan &amp; Bhaat</td>
            <td class="timing-start">14.30</td>
            <td>-</td>
            <td class="timing-end">16.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">High Tea</td>
            <td class="timing-start">16.30</td>
            <td>-</td>
            <td class="timing-end">17.30</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Tilak Ceremony</td>
            <td class="timing-start">19.30</td>
            <td>-</td>
            <td class="timing-end">20.15</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Ring ceremony</td>
            <td class="timing-start">20.15</td>
            <td>-</td>
            <td class="timing-end">20.30</td>
        </tr>
        <!-- <tr class="itinerary-data-row">
            <td class="event">Sangeet
                <br>
                <span>(Dance by family members along with dinner)</span>
            </td>
            <td class="timing-start">20.30</td>
            <td>-</td>
            <td class="timing-end">21.30</td>
        </tr> -->
        <tr class="itinerary-data-row">
            <td class="event">Musical Night
                <span>with 
                    Rajdeep Chatarjee 
                    along with dinner</span>
            </td>
            <td class="timing-start">20.30</td>
            <td>-</td>
            <td class="timing-end">22.30</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">DJ Night
                <span>with Indian
                    and Western Percussion</span>
            </td>
            <td class="timing-start">22.30</td>
            <td>-</td>
            <td class="timing-end">00.30</td>
        </tr>
    </table>
</div>