<div id="itinerary-25th-english" class="itinerary">
    <p id="itinerary-date">25th December</p>
    <img src="./imgs/itinerary/division.png" id="division">
    <table class="itinerary-data" id="itinerary-data-day-two">
        <tr class="itinerary-data-row">
            <td class="event">Breakfast</td>
            <td class="timing-start">7.00</td>
            <td>-</td>
            <td class="timing-end">11.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Baan &amp; Gaur</td>
            <td class="timing-start">11.00</td>
            <td>-</td>
            <td class="timing-end">12.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Lunch with live performance</td>
            <td class="timing-start">13.00</td>
            <td>-</td>
            <td class="timing-end">15.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">High Tea</td>
            <td class="timing-start">17.30</td>
            <td>-</td>
            <td class="timing-end">18.30</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Baraat Welcome &amp; Varmala</td>
            <td class="timing-start">19.30</td>
            <td>-</td>
            <td class="timing-end">20.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Reception &amp; Dinner</td>
            <td class="timing-start">20.00</td>
            <td>-</td>
            <td class="timing-end">22.30</td>
        </tr>
        <!-- <tr class="itinerary-data-row">
            <td class="event">Bride &amp; Groom dinner</td>
            <td class="timing-start">22.00</td>
            <td>-</td>
            <td class="timing-end">23.00</td>
        </tr> -->
        <tr class="itinerary-data-row">
            <td class="event">Wedding Ceremony</td>
            <td class="timing-start">22.30</td>
            <td>-</td>
            <td class="timing-end">00.30</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event">Vidaai</td>
            <td class="timing-start">00.30</td>
            <td>-</td>
            <td class="timing-end">01.00</td>
        </tr>
        <!-- <tr class="itinerary-data-row">
            <td class="event">Post Marriage Events</td>
            <td class="timing-start">01.00</td>
            <td>-</td>
            <td class="timing-end">02.00</td>
        </tr> -->
    </table>
</div>