<div id="itinerary-25th-hindi" class="itinerary">
    <p id="itinerary-date">25 दिसंबर</p>
    <img src="./imgs/itinerary/division.svg" id="division">
    <table class="itinerary-data" id="itinerary-data-day-two-hindi">
        <tr class="itinerary-data-row">
            <td class="event-hindi">नाश्ता</td>
            <td class="timing-start-hindi">7.00</td>
            <td>-</td>
            <td class="timing-end-hindi">11.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event-hindi">बान व गौर</td>
            <td class="timing-start-hindi">10.00</td>
            <td>-</td>
            <td class="timing-end-hindi">12.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event-hindi">दोपहर का भोजन<br>
                व लाइव प्रदशर्न  </td>
            <td class="timing-start-hindi">13.00</td>
            <td>-</td>
            <td class="timing-end-hindi">15.00</td>
        </tr>
        <!-- <tr class="itinerary-data-row">
            <td class="event-hindi">लाइव प्रदशर्न</td>
            <td class="timing-start-hindi">13.30</td>
            <td>-</td>
            <td class="timing-end-hindi">14.30</td>
        </tr> -->
        <tr class="itinerary-data-row">
            <td class="event-hindi">चाय - नाश्ता
            </td>
            <td class="timing-start-hindi">17.30</td>
            <td>-</td>
            <td class="timing-end-hindi">18.30</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event-hindi">बारात स्वागत व वरमाला</td>
            <td class="timing-start-hindi">19.30</td>
            <td>-</td>
            <td class="timing-end-hindi">20.00</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event-hindi">रिसेप्शन  
            </td>
            <td class="timing-start-hindi">20.00</td>
            <td>-</td>
            <td class="timing-end-hindi">22.30</td>
        </tr>
        <tr class="itinerary-data-row">
            <td class="event-hindi">शुभविवाह
            </td>
            <td class="timing-start-hindi">22.30</td>
            <td>-</td>
            <td class="timing-end-hindi">00.30</td>
        </tr>
        <!-- <tr class="itinerary-data-row">
            <td class="event-hindi">शुभविवाह</td>
            <td class="timing-start-hindi">23.00</td>
            <td>-</td>
            <td class="timing-end-hindi">00.30</td>
        </tr> -->
        <tr class="itinerary-data-row">
            <td class="event-hindi">विदाई</td>
            <td class="timing-start-hindi">00.30</td>
            <td>-</td>
            <td class="timing-end-hindi">01.00</td>
        </tr>
        <!-- <tr class="itinerary-data-row">
            <td class="event-hindi">विवाहपद कायर्क्रम</td>
            <td class="timing-start-hindi">01.00</td>
            <td>-</td>
            <td class="timing-end-hindi">02.00</td>
        </tr> -->
    </table>
</div>