<!-- <a id="navigation-button-prologue" class="navigation-hindi">आरंभ</a>
<a id="navigation-button-evite" class="navigation-hindi">निमंत्रण</a>
<a id="navigation-button-itinerary" class="navigation-hindi">कार्यक्रम</a>
<a id="navigation-button-rsvp" class="navigation-hindi">उत्तराकांक्षी</a> -->


<ul id="u1">
    <!-- <li id="navigation-button-prologue"><img src="./imgs/Toggle+Nav_lines-02.png" class="s1 navigation-hindi"> आरंभ</li>
    <li id="navigation-button-evite"><img src="./imgs/Toggle+Nav_lines-02.png" class="s3 sec"> निमंत्रण</li>
    <li id="navigation-button-itinerary"><img src="./imgs/Toggle+Nav_lines-02.png" class="s3"> कार्यक्रम</li>
    <li id="navigation-button-rsvp"><img src="./imgs/Toggle+Nav_lines-02.png" class="s2"> उत्तराकांक्षी</li> -->
</ul>

<a href="../pdfs/eb50_हिन्दी.pdf" download="Invitation" class="invitePdf" id="download-invitation">डाउनलोड करें</a>