<!-- <a id="navigation-button-prologue"><img src="./imgs/Toggle+Nav_lines-03_C.png" class="s1"> Story of S+S</a>
<a id="navigation-button-evite"><img src="./imgs/Toggle+Nav_lines-02.png" class="s3"> Evite</a>
<a id="navigation-button-itinerary"><img src="./imgs/Toggle+Nav_lines-02.png" class="s3"> Itinerary</a>
<a id="navigation-button-rsvp"><img src="./imgs/Toggle+Nav_lines-03_C.png" class="s2"> R.S.V.P.</a> -->

<ul id="u1">
    <!-- <li id="navigation-button-prologue"><img src="./imgs/Toggle+Nav_lines-03 New.png" class="s1"> Story of S+S</li> -->

    <!-- <li id="navigation-button-evite"><img src="./imgs/Toggle+Nav_lines-02.png" class="s3 sec"> Invite</li>
    <li id="navigation-button-evite"><img src="./imgs/Toggle+Nav_lines-02.png" class="s3 sec"> Invite</li>
    <li id="navigation-button-evite"><img src="./imgs/Toggle+Nav_lines-02.png" class="s3 sec"> Invite</li>
    <li id="navigation-button-evite"><img src="./imgs/Toggle+Nav_lines-02.png" class="s3 sec"> Invite</li> -->

    <!-- <li id="navigation-button-prologue"><img src="./imgs/Toggle+Nav_lines-02.png" class="s1"> Story of S+S</li>
    <li id="navigation-button-evite"><img src="./imgs/Toggle+Nav_lines-02.png" class="s3 sec"> Invite</li>
    <li id="navigation-button-itinerary"><img src="./imgs/Toggle+Nav_lines-02.png" class="s3"> Events</li>
    <li id="navigation-button-rsvp"><img src="./imgs/Toggle+Nav_lines-02.png" class="s2"> R.S.V.P.</li> -->
</ul>

<a href="../pdfs/eb50_ENG.pdf" download="Invitaion" class="invitePdf" id="download-invitation">Download Invitation</a>
