<div id="mySidenav" class="sidenav">
    <a href="#">Story of S+S</a>
    <a href="#">Evite</a>
    <a href="#">Itinerary</a>
    <a href="#">R.S.V.P.</a>
    <a href="#">Download pdf</a>
</div>

<img src="./Pngs/monogram_P1.gif" id="logo">

<!-- <div id="background">
    <img src="./Pngs/UP_LEFT.svg" class="left-container" style="">
    <img src="./Pngs/UP_RIGHT.svg" class="right-container" style="">
</div>
<div id="prologue">

</div>

<div id="invite">

</div>

<div id="rsvp">

</div> -->

<div id="fullpage">
    <div class="section">Some section1</div>
    <div class="section">Some section2</div>
    <div class="section">Some section3</div>
    <div class="section">Some section4</div>
</div>