<p class="family-text title">Granddaughter of</p>
<p class="family-text">Smt. Shanti Devi<br>&amp;<br>Late Shri Manoharlal Jain</p>

<p class="family-text title add-margin">Daughter of</p>
<p class="family-text">Smt. Poonam &amp; Shri Sanjay Jain</p>


<img src="./imgs/itinerary/division.png" class="add-margin" id="division">

<p class="family-text title add-margin">With Best Compliments</p>
<p class="family-text">Sunil &amp; Shobhna Jain</p>
<p class="family-text">Shreyans &amp; Pooja Jain</p>
<p class="family-text">Prashant &amp; Shruti Jain</p>
<p class="family-text">Gaurav &amp; Shreya Jain</p>

<br>

<p class="family-text title add-margin">Awaiting Eyes</p>
<p class="family-text">Lakshya Jain</p>