<p class="family-text gifttext">The greatest gift of all is your time and love.</p>
<br>
<br>
<p class="family-text">Komal Dhulia</p>
<p class="family-text">Heta Darshan Dhruv</p>
<p class="family-text">Hasti Mayank Dhulia</p>
<p class="family-text">Heena Jitesh Vora</p>
<p class="family-text">Ratna Chandresh Mehta</p>
<p class="family-text">Tejal Krupal Kothari</p>
<p class="family-text">Angel Swapnil Doshi</p>
<p class="family-text">Divyesh Shah</p>
<!-- <p class="family-text title">Grandson of</p>
<p class="family-text">Smt. Draupatidevi &amp; Shri Jaidev Arya</p>
<p class="family-text title add-margin">Son of</p>
<p class="family-text">Smt. Kiran &amp; Late Shri Vikas Arya</p> -->
<!-- <img src="./imgs/itinerary/division.png" class="add-margin" id="division"> -->
<br>
<p class="family-text title add-margin">With Best Compliments From</p>
<p class="family-text">Jay Auto Parts Co.</p>
<p class="family-text">Arihant Group of Companies,</p>
<p class="family-text">The Emerald Club</p>