<div id="prologue-intro" class="prologue-slide">
    <hr id="waypoint-prologue-intro" class="waypoint">
    <p class="prologue-text">They say that some things are bound to be, and the Universe conspires to make them happen.
        <!-- <br>
        <br>Or, so they say. -->
    </p>
</div>
<div id="x"></div>
<div id="prologue-one" class="prologue-slide">
    <p class="prologue-text">
        Rushit and Foram met years ago - but the stars aligned perfectly, at the perfect moment, <br> and they finally became a single beautiful unit... <br> because they were bound to be.</p>
</div>
<div id="x"></div>

<div id="prologue-two" class="prologue-slide">
    <p class="prologue-text">Completing and complimenting each other flawlessly, <br> they're each others' emotional compasses, always bringing each other to face upwards, <br> venturing into uncharted bliss.</p>
</div>